<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KARNEX SOFTWARE SOLUTIONS PVT. LTD. </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">

      <div class="social-links d-none d-md-flex align-items-center">

        <a href="https://www.facebook.com/karnexsoftware/" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/karnexsoftware1?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/company/karnex?original_referer=https%3A%2F%2Fwww.bing.com%2F" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">KARNEX<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!--<a href="index.html" class="logo"><img src="assets/img/logo.png" alt="WELCOME"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="about.html">About-us</a></li>
          <li><a class="nav-link scrollto" href="services.html">Services</a></li>
          <li><a class="nav-link scrollto" href="career.html">CAREERS</a></li>



          <li><a class="nav-link scrollto" href="contact.html">ContactUS</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade-up">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1>ABOUT</h1>


            <p>  KARNEX SOFTWARE SOLUTIONS PVT. LTD is founded in year 2013. It is the fastest growing company with excellent working environment and exploring new areas of technology such as automobile software development and testing, exploring new technological ideas. </p>

        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="member-img">
                <img src="assets/img/portfolio/embedded.jpg" class="img-fluid" alt="">
        </div>

        <h3>WHO ARE WE</h3>
        <p>
          KARNEX OFFERS PRODUCTION-READY PLATFORMS, TOOLS AND ACCELERATORS, SOFTWARE INTEGRATION SERVICES With years of AUTOSAR experience. It also  offers AUTOSAR Base Software Solutions that go across E/E Architecture, such as High-Performance Compute (HPC) Platforms, Real-Time Critical ECUs, Sensors and I/O Concentrators
        </p>
        <h3>WHAT WE DO </h3>
        <div class="member-img">
                <img src="assets/img/portfolio/tester.jpg" class="img-fluid" alt="">
        </div>
        <p> WE ARE PROVIDING SOLUTIONS IN DIFFERENT AND FASTEST GROWING AREAS OF TECHNOLOGY SUCH AS vehicle development, software development and testing solutions, AUTOSAR, E-MOBILITY, ADAS , BOOTLOADER , VEHICLE DIAGNOSTIC, EA ARCHITECTURE , VEHICLE ENGINEERING , VEHICLE DIAGNOSTIC etc. While the entire Engineering industry is getting disrupted by the new Technologies such as Artificial Intelligence and Connected architectures, the implications on mechanical engineering are diverse. Classical mechanical engineering & design services such as Value Engineering, CAD, CAE simulation and mechatronics need to be looked through a new lens.  We help you to validate your concepts and validate them into real products. Our fundamental focus on designing includes the aesthetics & functionality of the product. Our product development team has developed world-class products for our customers that comprises rigorous research, design study, detail engineering, prototyping, and testing</p>
        <h3>VISION</h3>
        <div class="member-img">
                <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
        </div>

        <p>TO ASPIRE TO BECOME A LEADING AND FASTEST GROWING COMPANY PROVIDING SOLUTIONS FOR BETTER TOMORROW </p>
        <h6>MISSION</h6>
        <div class="member-img">
                <img src="assets/img/portfolio/portfolio-5.jpg" align="centre" class="img-fluid" alt="">
        </div>
        <p>TO CREATE LOCAL OPPORTUNITY ANG GROWTH IN EVERY COMMUNITY DELIVERING TO BRING THE CHANGE IN THE MARKET.  </p>



      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">


          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>CONNECT WITH US </p>
            <div class="social-links mt-3">

              <a href="https://www.facebook.com/karnexsoftware/" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/karnexsoftware1?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bx bxl-instagram"></i></a>

              <a href="https://www.linkedin.com/company/karnex?original_referer=https%3A%2F%2Fwww.bing.com%2F" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>



    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>KARNEX</span></strong>. All Rights Reserved
      </div>
      <div class="credits">

        <span>Designed by KARNEX SOFTWARE SOLUTIONS PVT LTD </span>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="about.html" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>